.slides {
  width : 100%;
  overflow: hidden;
  position : relative;
}

.slide {
  position: absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : auto;
  transition: all 0.5s ease;
  opacity: 0;
}

.activeSlide {
  width : 100%;
  height : auto;
  opacity: 1;
  transition: all 1.5s ease;
}

.sliderIndicator {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
